.head {
color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 52px;
    font-weight: 300;
    line-height: 36.47px;
    text-align: center;
    font-style: normal;
    letter-spacing: -1.8px;
}