body {
    background-color: #f8f8f8;
    font-family: Roboto, sans-serif;
}

.container {
    width: 970px;
    margin: 0 auto;
}

.header {
    height: 265px;
}

.header .head {
    color: #000000;
    font-size: 52px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    font-style: normal;
    letter-spacing: -1.8px;
}

.header .menu {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header .menu li {
    list-style-type: none;
    display: inline-block;
    width: 25%;
}

.header .menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.header .menu li a:hover {
    color: #999999;
}

h2 {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.content {}

.content .item h3 a {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.content .item h3 a:hover {
    color: #999999;
}

img {
    outline: 1px solid #fc5b3f;
}

img:hover {
    outline: none;
}

.content .item .itemOrder {
    margin-top: 10px;
}

.content .item .itemOrder p {
    display: inline-block;
    margin: 0;
}

.content .item .itemOrder .order {
    width: 96px;
    height: 25px;
    border-radius: 13px;
    border: 1px solid #000000;
    background-color: #ffffff;
    opacity: 0.66;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.content .item .itemOrder .order:hover {
    background-color: #000000;
    color: #ffffff;
}

.content .itemDescribe {
    line-height: 16px;
    font-style: italic;
    color: #707070;
    font-size: 14px;
}

.content .itemDescribe::first-letter {
    font-size: 18px;
    color: #fc5b3f;
}

.content .itemDetails {
    line-height: 24px;
    font-style: italic;
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    list-style-type: square;
}

.content input {
    margin: 5px 0 5px 0;
    width: 225px;
    height: 40px;
    border-radius: 18px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    padding-left: 10px;
    outline: none;
}

.content input:focus {
    color: #f8f8f8;
    text-transform: capitalize;
    background-color: #6fb07f;
}

.content select {
    border-radius: 18px;
    border: 1px solid black;
    color: #000;
    outline: none;
}

.content textarea {
    margin: 5px 0 5px 0;
    border-radius: 18px;
    outline: none;
    border: 1px solid #cccccc;
    padding: 10px;
}

.content input[type="submit"], input[type="reset"] {
    width: 120px;
    height: 40px;
    border-radius: 18px;
    border: none;
    background-color: #6fb07f;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
}

.content input[type="reset"] {
    background-color: #834d4d;
}

.content table {
    width: 100%;
    height: 400px;
    border-collapse: collapse;
}

.content table tr:first-of-type {
    height: 100px;
}

.content table tr td {
    text-align: center;
    vertical-align: center;
}

.content table tr:nth-child(2n-1) > td {
    text-align: left;
}

.footer {
    margin-top: 65px;
    height: 400px;
    background-color: #f2f2f2;
    text-align: right;
    padding: 10px 10px 0 0;
}